@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SurveysProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/42daf7d6ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav id="header" class="navbar navbar-expand-lg navbar-light" style="background-color:#4d90ba ">

            <div class="container" style="min-width: 1600px">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"> <icon class="fa fa-list-alt" aria-hidden="true"></icon> Surveys Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><icon class="fa fa-home" aria-hidden="true"></icon> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="CreateSurvey" asp-action="Index"><icon class="fa fa-plus" aria-hidden="true"></icon> Create Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Statistics" asp-action="Index"><icon class="fa fa-pie-chart" aria-hidden="true"></icon> Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Register" asp-action="Index"><icon class="fas fa-user-plus" aria-hidden="true"></icon>Create account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="DeleteAccount" asp-action="Index"><icon class="fas fa-user-minus" aria-hidden="true"></icon>Delete account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy"><icon class="fa fa-get-pocket" aria-hidden="true"></icon> Privacy</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav flex-grow-1" style="margin-left:5%">
                            <li class="nav-item">
                                <a class="nav-link text-white" >Hello, @HttpContextAccessor.HttpContext.Session.GetString("Name")!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout" aria-hidden="true">Logout</a>
                            </li>
                        </ul>
                    }
                    else if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Teacher")
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><icon class="fa fa-home" aria-hidden="true"></icon> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="CreateSurvey" asp-action="Index"><icon class="fa fa-plus" aria-hidden="true"></icon> Create Survey</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="CompleteSurvey" asp-action="CompleteSurveyPage"><icon class="fas fa-tasks" aria-hidden="true"></icon> Complete Surveys</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Statistics" asp-action="Index"><icon class="fa fa-pie-chart" aria-hidden="true"></icon> Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy"><icon class="fa fa-get-pocket" aria-hidden="true"></icon> Privacy</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1" style="margin-left: 20%">
                            <li class="nav-item">
                                <a class="nav-link text-white">Hello, @HttpContextAccessor.HttpContext.Session.GetString("Name")!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout" aria-hidden="true">Logout</a>
                            </li>
                        </ul>

                    }
                    else if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Student")
                    {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><icon class="fa fa-home" aria-hidden="true"></icon> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Statistics" asp-action="Index"><icon class="fa fa-pie-chart" aria-hidden="true"></icon> Statistics</a>
                    </li>
                </ul>
                        <ul class="navbar-nav flex-grow-1" style="margin-left: 55%">
                            <li class="nav-item">
                                <a class="nav-link text-white">Hello, @HttpContextAccessor.HttpContext.Session.GetString("Name")!</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout" aria-hidden="true">Logout</a>
                            </li>
                        </ul>

                    }
                </div>
            </div>
        </nav>
        <br />
        <br />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SurveysProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
