@model SurveysProject.Models.ViewModels.ResponseQuestion

@{
    ViewData["Title"] = "Complete Survey";
}

<div class="card text-white small" style="max-width: 40rem; background-color: #4d90ba">
    <h2 class="card-body" id="survey">@Model.Survey.Title</h2>
</div>
<br />
<br />

@using (Html.BeginForm("AddResponse", "CompleteSurvey", new { surveyId = Model.Survey.Id, page = ViewBag.page }))
{

    <h3>@Model.Question.Text</h3>
    foreach (var item in Model.Question.Options)
    {
        <div> @Html.RadioButtonFor(s => s.SelectedOptionId, item.QuestionOptionId) @item.QuestionOptionText</div>
    }

    <br />
    <p style="color:red; margin-top:2%; margin-bottom:2%">@ViewBag.errorComplete</p>
    <input type="submit" class="btn btn-info" value="Next" />
}

