@model SurveysProject.Models.Data.DataModel

@{
    ViewData["Title"] = "Complete Survey";
}

<div class="card bg-light text-dark">
    <h1 class="card-body" id="survey">@Model.Survey.Title</h1>
</div>
<br />

<div class="col-md-8">
        @foreach (var question in @Model.Survey.Questions)
        {
            <h2 id="question">@question.Text</h2>
            <br />
            <div class="form-check">
                <div>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="opt1">@question.Options[0].QuestionOptionText
                    </label>
                </div>

                <div>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="optradio">@question.Options[1].QuestionOptionText
                    </label>
                </div>

                <div>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="optradio">@question.Options[2].QuestionOptionText
                    </label>
                </div>

            </div>
            <br />
        }

        <a href="@Url.Action("AddResponse", "CompleteSurvey")" type="button" class="btn btn-outline-warning">Insert Response</a>

</div>


