@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model IEnumerable<SurveysProject.Models.Survey>



@{
    ViewData["Title"] = "Home Page";
}

<body>
    <table class="table">
        <thead>
            <tr class="text-white" style="background-color: #4d90ba ">

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Title
                </td>

                <td>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin" || @HttpContextAccessor.HttpContext.Session.GetString("Role") == "Teacher")
                    {
                        <a href="@Url.Action("ViewSurvey", "Statistics", new {surveyId= item.Id})" class="btn btn-outline-info" style="margin-left:2%" id="view">View</a>
                        <a href="@Url.Action("DeleteSurvey", "CreateSurvey", new {surveyId= item.Id})" class="btn btn-outline-info" style="margin-left:2%" id="delete">Delete</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "CompleteSurvey", new {surveyId= item.Id})" class="btn btn-outline-info" id="complete">Complete</a>
                    }
                </td>
            </tr>
            }
        </tbody>

    </table>

</body>

